<div class="header-container">
    <p class="date">{{date}}</p>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal">Change Date</button>
</div>

<div class="main-container">
    {{#if noRecords}}
        <h4 class="mt-3 text-primary">Sorry, there were no games played that day. Please try another day.</h4>
    {{/if}}
    {{#if noRecordsYesterday}}
        <h4 class="mt-3 text-primary">Sorry, there were no games played yesterday. Please enter a date to the right.</h4>
    {{/if}}
    {{#each gameArray}}
    <div class="scorecard" data-id="{{this._id}}">
        <div class="team-container">
            <div class="away-team">
                <p class="team-name">{{this.awayTeam}}<span class="at-span">@</span></p>
                <p class="team-record">({{this.awayTeamRecord}})</p>
            </div>
            {{#if this.score}}
            <div class="score away-score">
                <p class="score-num">{{this.awayScore}}</p>
            </div>
            {{/if}}
        </div>
        <div class="team-container">
            <div class="home-team">
                <p class="team-name">{{this.homeTeam}}</p>
                <p class="team-record">({{this.homeTeamRecord}})</p>
            </div>
            {{#if this.score}}
            <div class="score home-score">
                <p class="score-num">{{this.homeScore}}</p>
            </div>
            {{/if}}
        </div>
        
    </div>
    {{/each}}

</div>

<script src="https://code.jquery.com/jquery.js"></script>